ase
babel
black
certifi
charset-normalizer
click
contourpy
cycler
docutils
flake8
fonttools
idna
imagesize
importlib_metadata
isort
Jinja2
kiwisolver
MarkupSafe
matplotlib
mccabe
mypy-extensions
numpy
packaging
pathspec
pbr
pillow
platformdirs
pycodestyle
pyflakes
Pygments
pyparsing
python-dateutil
requests
scipy
six
snowballstemmer
Sphinx
sphinx-rtd-theme
sphinxcontrib-apidoc
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
toml
tomli
typing_extensions
urllib3
zipp
